<div class="wrapper style1">
    <!-- Page Title -->
    <div id="banner" class="container">
        @Html.Partial("Partials/Index/_Title")
    </div>

    <div id="extra">
        <div class="container">
            <div class="row no-collapse-1">
                <section class="4u">
                    <a href="@Url.Action("Link", "Home", new {id = 1})" class="image featured"><img src="images/cell-free.jpg" alt=""></a>
                    <div class="box">
                        <p>The stuff of life comes wrapped in tiny bags called cells. Inside are DNA molecules that carry the instructions for how to run the cell …</p>
                        <a href="@Url.Action("Link", "Home", new {id = 1})" class="button">Read More</a>
                    </div>
                </section>
                <section class="4u">
                    <a href="@Url.Action("Link", "Home", new {id = 2})" class="image featured"><img src="images/automation.jpg" alt=""></a>
                    <div class="box">
                        <p>Automation, and IoT and analytics platforms like machine learning, will form a major part of the future of scientific laboratory work.</p>
                        <a href="@Url.Action("Link", "Home", new {id = 2})" class="button">Read More</a>
                    </div>
                </section>
                <section class="4u">
                    <a href="@Url.Action("Link", "Home", new {id = 3})" class="image featured"><img src="images/career.jpg" alt=""></a>
                    <div class="box">
                        <p>Biotechnology is much in vogue these days. Over the years, the field has become a popular career option for students.</p>
                        <a href="@Url.Action("Link", "Home", new {id = 3})" class="button">Read More</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>